<p id="notice"><%= notice %></p>

<h1>Listing Presidents</h1>

<president-list>
  <ul sv-root sv-part="presidents">
    <li ng-repeat="president in presidents" sv-element>
      <div>{{ president  }}</div>
    </li>
  </ul>
</president-list>
