<p id="notice"><%= notice %></p>

<h1>Listing Presidents</h1>

<president-list>
  <ul as-sortable="dragControlListeners" ng-model="presidents">
    <li ng-repeat="president in presidents" as-sortable-item>
      <div as-sortable-item-handle>{{ president }}</div>
    </li>
  </ul>
</president-list>
